@keyframes opac{
  from{opacity:0} to{opacity:1}
}
.anim-opacity{ 
  -webkit-animation: opac 1.5s;
  animation: opac 1.5s;
}

a {
  color: #FF7F00;
  text-decoration: none;
}

a:hover, a:focus {
  color: #DD4D00;
  text-decoration: underline;
}

body {
  margin: 0px;
  text-align: center;
  font-family: sans-serif;
  /*animation: opac 1.5s;*/
}

p {
  padding: 0px;
}

#container {
  margin: 0;
  width: 100%;
  height: auto;
}
#nav {
  position: fixed;
  margin-top: 0px;
  width: 100%;
  height: auto;
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.66);
  z-index: 10;
}
#nav a {
  color: white;
  text-decoration: none;
  transition: background 0.2s;
}
#nav a:hover, nav a:focus {
  text-decoration: underline;
  background: black;
  color: #FF7E00;
}
# nav a:active {
  transition: 1s;
}
ul{}
.nav-li {
  display: inline;
  padding: 1.1em;
}
/******TEST BEGIN**********/
#pres, #exp, #port, #cont {
  padding: 3em 0;
  width: 100%;
  height: 70vh;
}
#pres {
  background-image: url("pres.jpg");
  background-size: cover;
  background-color: #000000;
}
#exp {
  background-image: url("about.jpg");
  background-size: cover;
  background-color: #FFFFFF;
}
#port {
  background-image: url("port.jpg");
  background-size: cover;
  background-color: #000000;
}
#cont {
  background-image: url("contact.jpg");
  background-size: cover;
  background-color: #FFFFFF;
}
/*********TEST END***********/

.text-box {
  vertical-align: middle;
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
}
.text-box p {
  margin: 0px;
  padding: 0px;
}

.bbb {
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

#footer { /*lazy fast setup*/
  color: white;
  background: black;
  padding: 2.5%;
}
