body {
  text-align: center;
  font-size: 1em;
  font-family: sans-serif;
  margin: 0;
  padding: 0; /*stuff is simply going bananas these days*/
    background: #111133; /*temporary placeholda*/
}
#container {
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
}
#header {
  width: 100%;
  height: 500px;
  background-image: url("showcase.jpg");
  background-size: cover;
  background-color: #000000;
}
#box {
  height: 33%;
  width: 45%;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
}
#box h1 {
  color: #444444;
  font-weight: bold;
}
#sub-box {
  height: auto;
  width: auto;
  margin: auto;
}
#paper {
  position: relative;
  height: 800px; /*test*/
  width: 95%;
  z-index: 2;
  margin: 0 auto;
  padding: 0;
  border: dotted 1px green; /*temporary, just a visual reference**/
  background-color: rgba(255, 255, 255, 0.69);
  margin: 0 auto;
  box-shadow: 0px 10px 30px 10px rgba(255, 255, 255, 0.45);  /*********************************/
}                                                            /*   '#paper' isnt resizing      */
/*whatever*/                                                 /*  properly maybe because the   */
#sidebar {                                                   /*   float treats inner divs     */
  position: static; /*test****************/                  /*  like inline elements instead */
  width: 20%;                                                /*    of blocks... maaaybe       */
  height: 600px;                                             /*********************************/
  float: left;
  font-weight: bold;
  border-right: solid 1px #CCCCCC;
}
#sidebar p {
  line-height: 300%;
}/*tag system init*/
.tag {
  color: white;
  font-size: 0.6em;
  width: auto;
  height: auto;
  padding: 8px;
  background: #331188;
  border: solid 2px white;
  border-radius: 8px;
  transition: color 0.5s, background 0.5s, border 0.5s; /*noice*/
}
a {
  text-decoration: none;
}
.labelEr {}
.itemEr {
  
}/*tag system css inner logic*/
.tag:hover, .tag:focus {
  color: #FF3300;
  background: #FFFFFF;
  border: solid 2px #FF3300;
}
#content {
  width: 79%;
  height: auto;
  margin: 0;
  float: right;
  padding-top: 0px;
}
.content-block {
  width: 49%;
  display: inline-block;
  overflow: hidden;
  height: 250px; /*test******************************************************************************/
}
.si {
  background: #FF0000;
}
.mon {
  background: #0000FF;
}
.sa {
  background: #FFFF00;
}
.ys {
  background: #00FF00;
}
#filter-bar {
  display: none; /*test**************************************************************************************/
  width: 100%;
  top: 0;
  border-bottom: solid 1px #CCCCCC;
}
.item {
  color: white;
  width: 95%;
  height: 85%;
  margin: auto;
  background: #636363;
}
#filter-bar-body {
  text-align: left;
  height: auto;
  width: 90%;
  margin: auto;
  padding: 0;
}
#clear-filter {
  text-align: center;
  float: right;
  font-weight: bold;
  color: white;
  font-size: 0.6em;
  /*width: auto;
  height: auto;*/
  padding: 8px;
  background: #DF2222;
  border: solid 2px white;
  border-radius: 8px;
  transition: color 0.5s, background 0.5s, border 0.5s; 
  margin-top: -8px;
}
#clear-filter:hover, #clear-filter:focus {
  color: #DF2222;
  background: #FFFFFF;
  border: solid 2px #FFFFFF;
}
