body {
  text-align: center;
  font-size: 1em;
  font-family: sans-serif;
  margin: 0;
  padding: 0; /*just in case, default stuff is simply going bananas these days*/
    background-color: blue; /*temporary placeholder*/
}
#paper {
  height: auto;
  width: 95%;
  z-index: 2;
  margin: 0 auto;
  padding: 0;
  border: dotted 1px green; /*temporary, just a visual reference*/
  background-color: rgba(255, 255, 255, 0.8);
}
/*whatever*/
